* {
  box-sizing: border-box;
  font-family: sans-serif;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

.app-container {
  margin: 0 auto;
  background-color: teal;
  height: 100%;
  text-align: center;
  border: 1px solid black;
  min-width: 650px;
}

#main-app-container {
  margin: 0 auto;
  display: flex;
  max-width: 95%;
  background-color: white;
  height: 100%;
}

#main-app-body {
  flex-grow: 2;
}

nav {
  width: 100%;
  background-color: #555555;
  padding-left: 30px;
  height: 4em;
  align-content: center;
}

#nav-text {
  width: 95%;
  display: flex;
  padding-left: 30px;
  padding-right: 10px;
  justify-content: space-between;
  align-items: center;
}

ul {
  padding-left: 0px;
  list-style: none;
}

#nav-bar-ul {
  display: flex;
  margin-right: 20px;
}

.nav-item,
.nav-title {
  padding: 0px 20px;
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.right-nav {
  padding: 0px 10px;
  font-size: 20px;
}

.nav-item:hover {
  background-color: #444444;
}

.nav-title {
  color: white;
  font-size: 30px;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

#grocery-container-2 {
  background-color: white;
}

.grocery-list {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  align-content: center;
  background-color: lightgray;
  padding: 20px 0px 20px 0px;
  margin-top: 0px;
}

.grocery-list a {
  color: black;
  text-decoration: none;
}

#groceries-container {
  display: flex;
  margin: 0px 15px 15px 15px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#grocery-list-image-container {
  display: flex;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#grocery-list-image {
  max-width: 200px;
  max-height: 100%;
  object-fit: contain;
}

.grocery-item {
  margin: 10px;
  border: 2px solid black;
}

.checkout-button {
  background-color: teal;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.deliver {
  background-color: green;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.cart-container {
  min-width: 28%;
  flex-shrink: 0;
  order: 1;
  background-color: rgb(189, 214, 214);
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100%;
  padding-bottom: 20px;
}

#quantity-container {
  display: flex;
  width: 80%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0px 10px 10px 10px;
}

#quantity-field {
  font-size: 14px;
  text-align: center;
  width: 30px;
  margin: 0px 5px;
}

#cart-items {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#plus-minus {
  margin: 0px;
  font-size: 100px;
}

#auth-form-container {
  border-top: 1px solid black;
  background: rgb(66, 66, 66);
  color: white;
  padding: 20px;
}

#auth-form-container > h2,
#email-password,
#email-google-buttons {
  margin: 0px;
  text-transform: uppercase;
}

#email-password {
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit-login {
  padding: 15px;
  color: white;
  background: teal;
  border: 0px;
}

#email-google-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#checkout-button {
  width: 100%;
  background: teal;
  color: white;
  border: 0px;
  cursor: pointer;
  padding: 5px 0px;
}

#grocery-list-name {
  max-width: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#price {
  color: darkred;
}

#product-name {
  padding-bottom: 0px;
}

#cart-hr {
  width: 95%;
  border: 1px solid black;
  margin-bottom: 0px;
}

#cart-header {
  margin-bottom: 5px;
}

.cart-item {
  background: white;
  padding: 10px;
  margin: 5px;
}

#cart-item-hr {
  border: 1px solid black;
  width: 85%;
}

#total {
  font-size: 30px;
  padding-top: 10px;
}

#subtotal {
  margin-bottom: 0px;
}

#delete-button {
  float: right;
  border: 0px;
  cursor: pointer;
  font-weight: 600;
  background: white;
}

#order-item-body {
  padding-top: 20px;
}

#cart-item-name {
  text-transform: uppercase;
  font-size: 14px;
}

.quantity {
  display: inline-block;
}
