* {
  box-sizing: border-box;
  font-family: sans-serif;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

.app-container {
  margin: 0 auto;
  background-color: teal;
  height: 100vh;
  text-align: center;
  border: 1px solid black;
}

#main-app-container {
  margin: 0 auto;
  display: flex;
  max-width: 95%;
  background-color: white;
  height: 100%;
}

#main-app-body {
  flex-grow: 2;
}

nav {
  width: 100%;
  background-color: #555555;
  padding-left: 30px;
  height: 4em;
  align-content: center;
}

#nav-text {
  width: 95%;
  display: flex;
  padding-left: 30px;
  padding-right: 10px;
  justify-content: space-between;
  align-items: center;
}

ul {
  padding-left: 0px;
  list-style: none;
}

#nav-bar-ul {
  display: flex;
  margin-right: 20px;
}

.nav-item,
.nav-title {
  padding: 0px 20px;
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.right-nav {
  padding: 0px 10px;
  font-size: 20px;
}

.nav-item:hover {
  background-color: #444444;
}

.nav-title {
  color: white;
  font-size: 30px;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

#grocery-container-2 {
  background-color: white;
}

.grocery-list {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  align-content: center;
  background-color: lightgrey;
  padding: 20px;
  margin-top: 0px;
}

.grocery-list a {
  color: black;
  text-decoration: none;
}

#groceries-container {
  display: flex;
  margin: 0px 15px 15px 15px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#grocery-list-image-container {
  display: flex;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#grocery-list-image {
  max-width: 200px;
  max-height: 100%;
  object-fit: contain;
}

.grocery-item {
  margin: 10px;
  border: 2px solid black;
}

.checkout-button {
  background-color: teal;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.deliver {
  background-color: green;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.cart-container {
  flex-shrink: 0;
  order: 1;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
}

#quantity-container {
  display: flex;
  width: 80%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

#quantity-field {
  font-size: 16px;
  text-align: center;
  width: 30px;
  margin: 0px 5px;
}

.cart-item {
  padding: 10px 20px;
}

#plus-minus {
  margin: 5px;
  font-size: 16px;
}

#auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
}

#checkout-button {
  width: 100%;
  background: teal;
  color: white;
  border: 0px;
  cursor: pointer;
  padding: 5px 0px;
}
